body {
    background-color: black;
    color: limegreen;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}
