---
layout: default
title: Blog
permalink: /blog.html
---
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>{{ page.title }}</h2>
                    {% if page.subtitle %}
                    <p>{{ page.subtitle }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for post in site.posts %}
        <div class="row blog-post">
            <div class="col-md-3 blog-image-container">
                {% if post.image %}
                <img src="{{ site.baseurl }}/assets/images/{{ post.image }}" alt="{{ post.title }}" class="img-responsive blog-thumbnail">
                {% endif %}
            </div>
            <div class="col-md-9">
                <h3>{{ post.title }}</h3>
                <div class="post-meta">
                    <span class="date"><i class="fa fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}</span>
                    {% if post.category %}<span class="category"><i class="fa fa-tag"></i> {{ post.category }}</span>{% endif %}
                    {% if post.author %}<span class="author"><i class="fa fa-user"></i> {{ post.author }}</span>{% endif %}
                </div>
                <p class="post-excerpt">
                    {{ post.excerpt | strip_html | truncatewords: 50 }}
                </p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>