---
layout: default
title: Embedded
permalink: /embedded.html
---

<section id="portfolio">
    <div class="container">
        
    <div class="section-header fade-up">
      <div class="eyebrow">Experience</div>
      <h2>Embedded</h2>
      <p>Embedded world projects I've have participated in.</p>
    </div>

        {% assign normal_projects = site.data.projects-embedded | where: "type", "normal" %}

		<!-- Normal Projects (in pairs) -->
		{% for project in normal_projects %}
			{% assign mod2 = forloop.index0 | modulo: 2 %}
			{% if mod2 == 0 %}
				<div class="row row-0-gutter">
			{% endif %}
			{% include projects/normal-project.html project=project %}
			{% if mod2 == 1 or forloop.last %}
				</div>
			{% endif %}
		{% endfor %}
    </div>
</section>

<!-- Modals -->
{% for project in site.data.projects-embedded %}
    {% include projects/project-modal.html project=project %}
{% endfor %}